In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/aishwaryamate/Datasets/main/nba.csv')
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

1. Extract records where team = boston celtics and weight > 190
2. Which player goes to California college
3. Calculate average salary of players based on Positions that they belong to.
4. Avearge salary of players of Chicago Bulls Team
5. Calculate (mean, median, min, max) salary of players based on Team.

In [3]:
df[(df['Team'] == 'Boston Celtics') & (df['Weight'] > 190)]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0

In [4]:
df[df['College'] == 'California']

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
276,Ryan Anderson,New Orleans Pelicans,33.0,PF,28.0,6-10,240.0,California,8500000.0
326,Jorge Gutierrez,Charlotte Hornets,12.0,PG,27.0,6-3,189.0,California,189455.0
430,Allen Crabbe,Portland Trail Blazers,23.0,SG,24.0,6-6,210.0,California,947276.0

In [5]:
df.groupby('Position')['Salary'].mean()

Position
C     5.967052e+06
PF    4.562483e+06
PG    5.077829e+06
SF    4.857393e+06
SG    4.009861e+06
Name: Salary, dtype: float64

In [6]:
df[df['Team'] == 'Chicago Bulls']['Salary'].mean()

5785558.533333333

In [7]:
df['Team'].nunique()

30

In [8]:
df.groupby('Team')['Salary'].agg({'min','max','median','mean'})

                              min          mean         max     median
Team
Atlanta Hawks            525093.0  4.860197e+06  18671659.0  2854940.0
Boston Celtics          1148640.0  4.181505e+06  12000000.0  3021242.5
Brooklyn Nets            134215.0  3.501898e+06  19689000.0  1335480.0
Charlotte Hornets        189455.0  5.222728e+06  13500000.0  4204200.0
Chicago Bulls            525093.0  5.785559e+06  20093064.0  2380440.0
Cleveland Cavaliers      111196.0  7.642049e+06  22970500.0  4975000.0
Dallas Mavericks         525093.0  4.746582e+06  16407500.0  3950313.0
Denver Nuggets           258489.0  4.294424e+06  14000000.0  2907000.0
Detroit Pistons          111444.0  4.477884e+06  16000000.0  2891760.0
Golden State Warriors    289755.0  5.924600e+06  15501000.0  3815000.0
Houston Rockets          200600.0  5.018868e+06  22359364.0  2288205.0
Indiana Pacers           211744.0  4.450122e+06  17120106.0  4000000.0
Los Angeles Clippers     111444.0  6.323643e+06  21468695.0  3110796.0
Los Angeles Lakers       525093.0  4.784695e+06  25000000.0  1724250.0
Memphis Grizzlies        700902.0  5.467920e+06  19688000.0  4544009.5
Miami Heat               261894.0  6.347359e+06  22192730.0  2481720.0
Milwaukee Bucks          295327.0  4.350220e+06  16407500.0  2254167.0
Minnesota Timberwolves   947276.0  4.593054e+06  12700000.0  2148360.0
New Orleans Pelicans      55722.0  4.355304e+06  15514031.0  2850000.0
New York Knicks           30888.0  4.581494e+06  22875000.0  2225421.0
Oklahoma City Thunder    222888.0  6.251020e+06  20158622.0  3344000.0
Orlando Magic            845059.0  4.297248e+06  11250000.0  3956580.0
Philadelphia 76ers       525093.0  2.213778e+06   6500000.0  1037084.5
Phoenix Suns              55722.0  4.229676e+06  13500000.0  2041080.0
Portland Trail Blazers   525093.0  3.220121e+06   8042895.0  2854940.0
Sacramento Kings         525093.0  4.778911e+06  15851950.0  3156600.0
San Antonio Spurs        200600.0  5.629516e+06  19689000.0  2814000.0
Toronto Raptors          245177.0  4.741174e+06  13600000.0  2900000.0
Utah Jazz                900000.0  4.204006e+06  15409570.0  2433333.0
Washington Wizards       200600.0  5.088576e+06  15851950.0  4000000.0

In [9]:
#Extract the name of player who is from Toronto Raptors team and the salary of that is maximum.